.cart {
  padding-top: 30px;

  @include mq ('phone') {
    padding-top: 10px;
  }

  &__step {
    display: none;

    &.active {
      display: block;
    }
  }

  &__back-btn {
    position: relative;
    padding-left: 25px;
    @include adaptiv-value ('font-size', 23, 16, 1);
    @include adaptiv-value ('margin-bottom', 50, 20, 1);
    color: $footer-bottom;
    @extend %montserrat-700;
    transition: color .3s, opacity .3s;

    &:hover {
      color: $accent-color;
    }

    &:hover svg {
      stroke: $accent-color;
    }

    &:active {
      opacity: .8;
    }

    &:active svg {
      opacity: .8;
    }
  }

  &__btn-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
    left: 0;
    height: 25px;
    width: 25px;
    fill: none;
    stroke: $footer-bottom;
    stroke-width: 2px;
    transition: stroke .3s, opacity .3s;
  }

  &__title {
    @include adaptiv-value ('font-size', 50, 20, 1);
    @include adaptiv-value ('margin-bottom', 80, 20, 1);
    @extend %montserrat-500;
    color: $cart-title;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    color: $cart-title;
    margin-bottom: 30px;
    border-bottom: 2px solid $footer-icon;

    @include mq ('tablet-2') {
      flex-direction: column;
      gap: 20px;
    }

    @include mq ('phone') {
      padding: 0 0 25px 0;
      margin-bottom: 10px;
    }
  }

  &__item-wrap {
    display: flex;
    align-items: flex-start;
    gap: 90px;

    @include mq ('tablet-2') {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__item-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 28px;
    @include adaptiv-value ('font-size', 28, 16, 1);
    @include adaptiv-value ('margin-bottom', 20, 10, 1);
    @extend %montserrat-500;
    color: $cart-title;
  }

  &__img-wrap {
    max-width: 205px;
    padding: 30px;
    background-color: $cart-img-bg;
  }

  &__details {

    @include adaptiv-value ('min-width', 550, 320, 1);
  }

  &__subtitle {
    font-size: 25px;
    margin-bottom: 13px;
    @include adaptiv-value ('font-size', 25, 20, 1);
    @include adaptiv-value ('margin-bottom', 23, 10, 1);
  }

  &__info {
    font-size: 22px;
    margin-bottom: 13px;
    @extend %montserrat-500;

    &.active-style .cart__svg-arrow {
      transform: rotate(-90deg);
    }

    &--details {
      cursor: pointer;
      margin-bottom: 0;
      transition: color .3s;


      &:hover {
        color: $accent-color;
      }

      &:hover .cart__svg-arrow {
        stroke: $accent-color;
      }
    }
  }

  &__svg-arrow {
    vertical-align: middle;
    fill: none;
    stroke: $accent-btn-color;
    stroke-width: 3px;
    height: 35px;
    width: 35px;
    transform: rotate(90deg);
    transition: stroke .3s;
    padding-right: 10px;
  }

  &__details-info {
    font-size: 22px;
    @extend %montserrat-500;
    margin-bottom: 5px;

    & span {
      font-size: 18px;
    }
  }

  &__show-details {
    margin-bottom: 15px;
  }

  &__details-list {
    display: none;

    &.active-content {
      display: block;
    }
  }

  &__btn-remove {
    color: $body-background-color;
    background-color: $cart-btn;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 20px;
    @extend %montserrat-700;
    transition: background-color .3s, opacity .3s;

    &:hover {
      background-color: $accent-color;
    }

    &:active {
      opacity: .8;
    }
  }

  &__btn-return,
  &__btn-next {
    display: block;
    @extend %montserrat-700;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    transition: background-color .3s, opacity .3s, color .3s;
  }

  &__btn-next {
    color: $body-background-color;
    background-color: $accent-color;
    display: block;

    &:hover {
      background-color: $footer-bottom;
    }

    &:active {
      opacity: .8;
    }
  }

  &__btn-return {
    display: inline-block;
    color: $accent-color;
    border: 4px solid $accent-color;

    &:hover {
      background-color: $accent-color;
      color: $body-background-color;
    }

    &:active {
      opacity: .8;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;

    @include mq ('desktop') {
      gap: 20px;
    }

    @include mq ('tablet-2') {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__form {
    flex-grow: 1;

    @include mq ('tablet-2') {
      width: 100%;
    }
  }

  &__step-title {
    color: $accent-color;
    @include adaptiv-value ('font-size', 47, 20, 1);
    @include adaptiv-value ('margin-bottom', 50, 15, 1);

  }

  &__text {
    @extend %montserrat-500;
    @include adaptiv-value ('font-size', 37, 16, 1);
    @include adaptiv-value ('margin-bottom', 50, 15, 1);
    color: $text-color-product;
  }

  &__contact {
    @extend %montserrat-500;
    @include adaptiv-value ('font-size', 30, 16, 1);
    @include adaptiv-value ('margin-bottom', 50, 15, 1);
    color: $partners-title;

    & span {
      cursor: pointer;
      @extend %montserrat-700;
      color: $cart-btn;
    }
  }

  &__contact-us {
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 6px;
    background-color: $menu-bg;
    padding: 15px 35px 15px 15px;
    z-index: 1000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .2), 0px 6px 6px rgba(0, 0, 0, .15);
    transform: rotateX(-90deg);
    transform-origin: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;

    @include mq ('phone') {
      padding: 10px 15px 10px 15px;
      bottom: 10px;
      right: 10px;
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transform: rotateX(0deg);
    }
  }

  &__link {
    @include adaptiv-value ('font-size', 18, 14, 1);
  }

  &__contacts-item {
    position: relative;
    font-size: 25px;
    @extend %montserrat-500;
    padding: 15px 13px 15px 75px;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 23px;
      @include adaptiv-value ('margin-bottom', 23, 5, 1);
    }

    @include mq ('phone') {
      padding: 10px 10px 10px 50px;
      bottom: 10px;
      right: 10px;
    }
  }

  &__svg-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    @include adaptiv-value ('height', 25, 15, 1);
    @include adaptiv-value ('width',25, 15, 1);
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 0;
    height: 65px;
    width: 65px;
    @include adaptiv-value ('height', 65, 35, 1);
    @include adaptiv-value ('width', 65, 35, 1);
    fill: $footer-icon;
    transform: translate(0, -50%);
  }
}

.summary {
  max-width: 520px;
  padding: 35px 40px;
  border: 2px solid $footer-border;
  border-radius: 6px;

  @include mq ('desktop') {
    padding: 15px 20px;
  }

  &__title {
    font-size: 35px;
    @extend %montserrat-500;
    color: $text-color-about;
    margin-bottom: 50px;
    @include adaptiv-value ('font-size', 35, 20, 1);
    @include adaptiv-value ('margin-bottom', 50, 20, 1);
  }

  &__list {
    @include adaptiv-value ('margin-bottom', 50, 20, 1);
  }

  &__item {
    display: flex;
    @include adaptiv-value ('margin-bottom', 25, 15, 1);
    @include adaptiv-value ('gap', 35, 15, 1);
  }

  &__img-wrap {
    width: 135px;
    height: 120px;
    background-color: $cart-img-bg;
    padding: 10px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__subtitle {
    color: $text-color-about;
    font-size: 22px;
    margin-bottom: 5px;
    @include adaptiv-value ('font-size', 22, 16, 1);
  }

  &__detail {
    @include adaptiv-value ('font-size', 22, 16, 1);
    @extend %montserrat-500;
    margin-bottom: 5px;

    & span {
      @include adaptiv-value ('font-size', 18, 14, 1);
      @extend %montserrat-400;
    }
  }

  &__ship {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    @include adaptiv-value ('padding-top', 20, 10, 1);
    border-top: 2px solid $footer-border;
  }

  &__ship-title {
    @extend %montserrat-500;
    color: $text-color-about;
    @include adaptiv-value ('font-size', 30, 18, 1);
  }

  &__switch-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: $text-color-about;
    @include adaptiv-value ('font-size', 20, 14, 1);
    @extend %montserrat-500;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__switch-input {
    height: 22px;
    width: 22px;
    @include adaptiv-value ('height', 22, 16, 1);
    @include adaptiv-value ('width', 22, 16, 1);
  }
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include adaptiv-value ('margin-bottom', 105, 20, 1);

  @include mq ('desktop') {
    flex-direction: column;
  }

  &__item {
    position: relative;
    text-align: center;
    opacity: 0.6;

    &:not(:last-child) {
      padding-right: 125px;

      @include mq ('desktop') {
        padding-right: 0;
        @include adaptiv-value ('padding-bottom', 50, 30, 1);
      }
    }

    &.active {
      opacity: 1;
    }
  }

  &__wrap {
    max-width: 400px;

    @include mq ('desktop') {
      max-width: 100%;
    }
  }

  &__title {
    @include adaptiv-value ('font-size', 35, 20, 1);
    @include adaptiv-value ('margin-bottom', 40, 10, 1);
    color: $footer-bottom;
    color: $footer-bottom;
    color: $footer-bottom;
  }

  &__text {
    font-size: 27px;
    @include adaptiv-value ('font-size', 27, 18, 1);
    color: $text-color-product;
  }

  &__svg-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    height: 65px;
    width: 65px;
    @include adaptiv-value ('height', 65, 35, 1);
    @include adaptiv-value ('width', 65, 35, 1);
    fill: none;
    stroke: $footer-bottom;
    stroke-width: 2px;

    @include mq ('desktop') {
      right: 50%;
      transform: translate(50%, 0) rotate(90deg);
      top: auto;
      bottom: 0;
    }
  }
}