$accent-btn-color: #6B80BF;
$accent-color: #FF7E14;
$body-background-color: #FFFFFF;
$text-color: #000000;
$text-color-link: #272727;
$text-color-about: #39393A;
$text-color-btn: #535353;
$text-color-product: #39393A;
$bg-menu-btn: #F5F5F5;
$footer-icon: #787878;
$footer-bottom: #324373;
$footer-bg: #536189;
$why-sv-bg: #F2F2F2;
$partners-title: #59595A;
$footer-border: #B8B8B8;
$produkt-bg: #F5F5F5;
$product-simbol-color: #989899;
$menu-bg: #E0E3FF;
$cart-title: #303031;
$cart-img-bg: #F4F7FE;
$cart-btn: #5A6CA0;
$why-sv: #455173;
$our-story-title: #2A3861;
$our-story-line: #9C9C9C;

$breakpoints: (
  "phone": 560px,
  "phone-2": 660px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px,
  "desktop-2": 1330px,
  "desktop-3": 1600px
);

$maxWidth: 1920;
$maxWidthContainer: 1210;

%montserrat-400 {
  font-family: 'Montserrat';
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat';
  font-weight: 500;
}
%montserrat-600 {
  font-family: 'Montserrat';
  font-weight: 600;
}

%montserrat-700 {
  font-family: 'Montserrat';
  font-weight: 700;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



