.first-screen {
  margin-bottom: 15px;

  &__wrap {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin-bottom: 6px;
  }

  &__inner {
    padding: 55px 0 45px;
    position: relative;

    @include mq ('phone-2') {
      padding: 25px 0 20px;
    }
  }

  &__content {
    max-width: 700px;
    color: $body-background-color;
    padding-left: 60px;

    @include mq ('phone-2') {
      padding-left: 10px;
    }
  }

  &__img {
    position: absolute;

    &--baner {
      height: 203px;
      width: 391px;
      @include adaptiv-value ('height', 203, 160, 1);
      @include adaptiv-value ('width', 391, 290, 1);
      top: -2%;
      right: 0;

      @include mq ('phone-2') {
        display: none;
      }
    }

    &--baner_2 {
      @include adaptiv-value ('height', 93, 63, 1);
      @include adaptiv-value ('width', 200, 100, 1);
      top: 60%;
      right: 2%;

      @include mq ('tablet') {
        display: none;
      }
    }

    &--sign {
      height: 200px;
      width: 200px;
      top: 40%;
      right: 14%;
      z-index: 100;

      @include mq ('tablet-2') {
        display: none;
      }
    }

    &--s_board {
      height: 261px;
      width: 435px;
      top: 22%;
      right: 16%;
      z-index: 100;

      @include mq ('desktop') {
        display: none;
      }
    }
  }

  &__title,
  &__subtitle {
    @include adaptiv-value ('font-size', 42, 20, 1);
    @extend %montserrat-700;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 10px;
    @include adaptiv-value ('margin-bottom', 10, 5, 1);
  }

  &__subtitle {
    margin-bottom: 12px;
    @include adaptiv-value ('margin-bottom', 12, 5, 1);
  }

  &__text {
    @extend %montserrat-700;
    margin-top: 33px;
    @include adaptiv-value ('font-size', 28, 18, 1);
    @include adaptiv-value ('margin-top', 33, 15, 1);
  }

  &__contacts {
    display: flex;
    gap: 6px;
  }

  &__item {
    flex-grow: 1;
    min-height: 112px;
    @include adaptiv-value ('min-height', 112, 70, 1);
    background-color: $accent-btn-color;
    transition: background-color .3s, opacity .3s;

    &:focus-visible {
      background-color: $footer-bottom;
    }

    &:hover {
      background-color: $footer-bottom;
    }

    &:active {
      opacity: .8;
    }

    @include mq ('tablet') {
      &:focus-visible {
        background-color: $accent-btn-color;
      }

      &:hover {
        background-color: $accent-btn-color;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    @include adaptiv-value ('font-size', 20, 14, 1);
    color: $body-background-color;
    text-transform: uppercase;
    @extend %montserrat-700;
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    fill: $body-background-color;
    @include adaptiv-value ('height', 80, 40, 1);
    @include adaptiv-value ('width', 80, 40, 1);
  }

}