.partners {
  padding: 55px 0;

  &__title {
    font-size: 40px;
    color: $text-color-product;
    margin-bottom: 70px;
  }
}

.swiper-partners {
  height: 200px;
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

