.partners {
  padding: 55px 0;
  @include mq ('phone') {
      padding: 20px 0;
    }

  &__title {
    @include adaptiv-value ('font-size', 40, 20, 1);
    @include adaptiv-value ('margin-bottom', 70, 15, 1);
    color: $text-color-product;
  }
}

.swiper-partners {
  height: 200px;
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

