.why-sv {
  background-color: $menu-bg;
  padding: 55px 0 86px;

  &--our-story {
    background-color: $body-background-color;
  }

  &__title {
    font-size: 42px;
    color: $footer-bottom;
    margin-bottom: 45px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__item {
    max-width: 365px;
  }

  &__content {
    display: flex;
    gap: 8px;
  }

  &__img {
    min-height: 108px;
    min-width: 108px;
    @extend %bg;
  }

  &__subtitle {
    white-space: nowrap;
    margin-bottom: 12px;
    font-size: 30px;
    color: $why-sv;
  }

  &__text {
    font-size: 20px;
    @extend %montserrat-500;
    color: $footer-bottom;
  }
}