.produkt-card {
  position: relative;
  border-radius: 6px;

  @include mq ('tablet') {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2),
      0px 6px 6px rgba(0, 0, 0, 0.15);
  }

  @include adaptiv-value ('height', 500, 280, 1);
  @include adaptiv-value ('width', 380, 150, 1);
  padding: 25px;

  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2),
      0px 6px 6px rgba(0, 0, 0, 0.15);
  }

  &:hover .produkt-card__img-wrap {
    height: 200px;
  }

  &:hover .produkt-card__reviews {
    display: none;
  }

  &:hover .produkt-card__link-shop {
    display: block;
  }

  &:hover .produkt-card__deskr {
    display: block;
  }

  @include mq ('tablet') {
    &:hover .produkt-card__img-wrap {
      @include adaptiv-value ('height', 300, 100, 1);
    }

    &:hover .produkt-card__reviews {
      display: flex;
    }

    &:hover .produkt-card__link-shop {
      display: none;
    }

    &:hover .produkt-card__deskr {
      display: none;
    }
  }

  &__link {
    position: absolute;
    z-index: 100;
    inset: 0;
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $produkt-bg;
    border-radius: 6px;
    @include adaptiv-value ('height', 300, 100, 1);
    @include adaptiv-value ('margin-bottom', 40, 15, 1);
    @include adaptiv-value ('padding', 10, 5, 1);
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    @include adaptiv-value ('font-size', 28, 14, 1);
    @include adaptiv-value ('margin-bottom', 15, 5, 1);
    @extend %montserrat-500;

    @include mq ('tablet') {
      text-align: center;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    @include adaptiv-value ('gap', 15, 5, 1);
    white-space: nowrap;

    @include mq ('tablet') {
      flex-direction: column;
    }
  }

  &__reviews-quantity {
    @include adaptiv-value ('font-size', 18, 12, 1);
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__svg {
    fill: $accent-color;
    height: 15px;
    width: 15px;
  }

  &__deskr {
    display: none;
    color: $text-color-about;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__link-shop {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border: 1px solid $accent-color;
    border-radius: 12px;
    color: $accent-color;
    font-size: 28px;
    @extend %montserrat-700;
    z-index: 200;
    transition: color .3s, background-color .3s;

    &:hover {
      background-color: $accent-color;
      color: $body-background-color;
    }
  }
}