.search {
  background-color: $menu-bg;
  z-index: 1000;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;

  &.show {
    display: block;
  }

  &__wrap {
    padding: 30px;
    border-radius: 12px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid $footer-bottom;
  }

  &__input {
    flex-grow: 1;
    display: block;
    padding: 5px 10px;
    font-size: 22px;
    background-color: transparent;
  }

  &__list {
    margin-top: 15px;
    max-height: 800px;
    overflow: hidden;
  }

  &__item {
    color: $text-color-product;
    transition: color .3s, background-color .3s;

    &:hover {
      background-color: $body-background-color;
      color: $footer-bottom;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    font-size: 22px;
    white-space: nowrap;
    @extend %montserrat-500;

    & span {
      background-color: rgba($color: $accent-btn-color, $alpha: .8);

    }
  }

  &__svg {
    height: 30px;
    width: 30px;

    &--close {
      fill: $footer-bottom;
    }

    &--search {
      fill: none;
      stroke: $footer-bottom;
      stroke-width: 2px;
      transition: stroke .3s;

      &:hover {
        stroke: $accent-color;
      }
    }
  }
}