.bread-crumbs {
  margin-bottom: 30px;

  @include mq ('phone') {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      border-right: 1px solid $partners-title;
    }
  }

  &__link {
    color: $partners-title;
    padding: 3px 12px;
      @include adaptiv-value ('font-size', 16, 12, 1);
    @extend %montserrat-500;
    text-decoration: underline;

    @include mq ('phone') {
      padding: 3px 5px;
    }
  }

}

.contact-form {
  &__title {
    text-align: center;
    @include adaptiv-value ('font-size', 50, 22, 1);
    @include adaptiv-value ('margin-bottom', 30, 15, 1);
    color: $text-color-about;
    @extend %montserrat-500;

    @include mq ('phone') {
      text-align: start;
    }
  }

  &__wrap {
    display: flex;
    gap: 120px;
    color: $text-color-about;

    @include mq ('desktop') {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__form {
    min-width: 740px;

    @include mq ('desktop') {
      min-width: 100%;
    }
  }

  &__contacts {
    padding-top: 30px;
    max-width: 600px;

    @include mq ('phone') {
      padding-top: 10px;
    }
  }

  &__item {

    @include adaptiv-value ('margin-bottom', 40, 15, 1);
  }

  &__subtitle {
    @include adaptiv-value ('font-size', 26, 18, 1);
    @include adaptiv-value ('margin-bottom', 15, 10, 1);
    @extend %montserrat-500;
  }

  &__text {
    font-size: 22px;
    margin-bottom: 18px;
    @include adaptiv-value ('font-size', 22, 14, 1);
    @include adaptiv-value ('margin-bottom', 18, 10, 1);
  }

  &__link {
    @include adaptiv-value ('font-size', 22, 14, 1);
    @extend %montserrat-500;
    padding: 0;
  }
}