.bread-crumbs {
  margin-bottom: 30px;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      border-right: 1px solid $partners-title;
    }
  }

  &__link {
    color: $partners-title;
    padding: 3px 12px;
    font-style: 16px;
    @extend %montserrat-500;
    text-decoration: underline;
  }

}

.contact-form {
  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    color: $text-color-about;
    @extend %montserrat-500;
  }

  &__wrap {
    display: flex;
    gap: 120px;
    color: $text-color-about;
  }

  &__form {
    min-width: 740px;
  }

  &__contacts {
    padding-top: 30px;
    max-width: 600px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 26px;
    margin-bottom: 15px;
    @extend %montserrat-500;
  }

  &__text {
    font-size: 22px;
    margin-bottom: 18px;
  }
  
  &__link {
    font-size: 22px;
    @extend %montserrat-500;
    padding: 0;
  }
}

.form {
  &__label {
    display: block;
    font-size: 20px;
    @extend %montserrat-500;
    color: $partners-title;
    margin-bottom: 12px;

    &--file {
      position: relative;
      width: 100%;
      padding: 45px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      margin-bottom: 28px;
      border: 3px dashed $footer-border;
      background-color: #F2F2F2;
    }

    & span {
      color: $footer-border;
    }

    &--checkbox {
      cursor: pointer;
      margin-bottom: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  &__input {
    display: block;
    margin-bottom: 28px;
    border: 1px solid $footer-border;
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border: 3px solid $footer-border;
    transition: border-color .3s;

    &--text {
      min-height: 140px;
      resize: none;
    }

    &--checkbox {
      cursor: pointer;
      height: 25px;
      width: 25px;
      margin-bottom: 0;
    }

    &--file {
      opacity: 0;
      position: absolute;
      margin: 0;
      padding: 0;
      inset: 0;
      cursor: pointer;
    }

    &::placeholder {
      transition: color .3s;
    }

    &:focus {
      border-color: $accent-color;
    }

    &:hover {
      border-color: $accent-color;
    }

    &:hover::placeholder {
      color: $accent-color;
    }
  }

  &__names {
    display: flex;
    gap: 30px;
  }

  &__wrap {
    flex-grow: 1;
  }

  &__checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__custom-button {
    font-size: 20px;
    @extend %montserrat-500;
    color: $footer-bottom;
    padding: 10px;
    border: 2px solid $footer-bottom;
    border-radius: 12px;
    transition: color .3s, border-color .3s;
  }

  &__file-name {
    font-size: 20px;
    @extend %montserrat-500;
    color: $footer-icon;
  }

  &__btn {
    padding: 10px 60px;
    color: $body-background-color;
    background-color: $accent-color;
    @extend %montserrat-700;
    font-size: 20px;
    border-radius: 6px;
  }

  &__out {
    margin-top: 20px;
    font-size: 23px;
    @extend %montserrat-500;
  }

}