.footer {
  background-color: $footer-bg;

  @include mq ('desktop') {
    @include adaptiv-value ('padding-bottom', 50, 30, 1);
  }


  &__link {
    @include adaptiv-value ('font-size', 22, 14, 1);

    &--tel {
      @extend %montserrat-700;
      @include adaptiv-value ('font-size', 25, 16, 1);
    }
  }

  &__svg {
    position: absolute;
    top: 35%;
    left: 0;
    height: 35px;
    width: 35px;
    fill: $body-background-color;
    transform: translate(0, -50%);
  }

  &__wrap {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 45px 0;
    gap: 20px;
    row-gap: 50px;

    @include mq ('desktop-2') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq ('tablet') {
      grid-template-columns: repeat(1, 1fr);
      padding: 20px 0;
      row-gap: 25px;
    }
  }

  &__contacts {
    margin-right: 20px;
  }

  &__contacts-item {
    color: $body-background-color;
    position: relative;
    @include adaptiv-value ('font-size', 25, 14, 1);
    @extend %montserrat-500;
    padding: 0 13px 15px 45px;
    white-space: nowrap;
  }

  &__info-title {
    @extend %montserrat-700;
    @include adaptiv-value ('font-size', 25, 16, 1);
    @include adaptiv-value ('margin-bottom', 20, 5, 1);
    color: $body-background-color;
    white-space: nowrap;
  }

  &__info-item {
    &:not(:last-child) {
      @include adaptiv-value ('margin-bottom', 45, 20, 1);
    }
  }

  &__info-text {
    @include adaptiv-value ('font-size', 21, 16, 1);
    color: $body-background-color;
  }

  &__menu-item {
    color: $body-background-color;
    position: relative;
    padding-left: 30px;
    @extend %montserrat-500;
    @include adaptiv-value ('font-size', 22, 14, 1);

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 15px;
      width: 15px;
      background-color: $accent-color;
      transform: translate(0, -50%);
    }
  }

  &__bottom {
    background-color: $footer-bottom;
    padding: 45px 0;
  }

  &__bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__payment {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__payment-img {
    border-radius: 6px;
  }
}

.sign-up {
  max-width: 305px;

  &__title {
    @extend %montserrat-700;
    @include adaptiv-value ('font-size', 25, 16, 1);
    @include adaptiv-value ('margin-bottom', 20, 5, 1);
    color: $body-background-color;
    white-space: nowrap;
  }

  &__text {
    color: $body-background-color;
    @include adaptiv-value ('font-size', 22, 14, 1);
    @include adaptiv-value ('margin-bottom', 20, 5, 1);
    @extend %montserrat-500;
  }

  &__form {
    position: relative;
    display: flex;
    background-color: $body-background-color;
    height: 55px;
    margin-bottom: 70px;
  }

  &__input {
    display: block;
    flex-grow: 1;
    padding: 5px 10px;
    height: 100%;
  }

  &__btn {
    display: block;
    background-color: $accent-color;
    height: 100%;
    width: 55px;

    &:hover .sign-up__svg-arrow {
      stroke: $footer-bottom;
    }
  }

  &__svg-arrow {
    fill: none;
    stroke: $body-background-color;
    height: 35px;
    width: 35px;

    transition: stroke .3s;
  }

  &__out {
    display: none;
    position: absolute;
    bottom: -60px;
  }
}